.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 78%;
    margin-left: 10px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-21-1 {
    display: flex;
    /* margin-top: 76px; */
    margin-top: 10px;
    flex-direction: column;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-21-1 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  /* .img-10 {
    aspect-ratio: 3.03;
    object-fit: auto;
    object-position: center;
    width: 156px;
    align-self: center;
    max-width: 100%;
  } */
  .img-10-1 {
    aspect-ratio: 3.03;
    object-fit: auto;
    object-position: center;
    /* width: 156px; */
    align-self: center;
    max-width: 120%;
    /* extra */
    width: 100px;
  }
  .div-22-1 {
    /* color: #000;
    align-self: center;
    font: 400 22px Sulphur Point, sans-serif; */
    color: #000;
    align-self: center;
    margin-top: 6px;
    /* font: 400 22px Sulphur Point, sans-serif; */
    /* extra */
    font-size: 15px;
    font-family:sans-serif;
  }
  .div-23-1 {
    /* display: flex;
    margin-top: 23px;
    gap: 20px; */
    display: flex;
    margin-top: 27px;
    width: 100%;
    /* gap: 20px; */
    /* extra */
  }
  @media (max-width: 991px) {
    .div-21-1 {
      max-width: 100%;
      flex-wrap: wrap;
      padding-right: 20px;
    }
  }
  @media (max-width: 991px) {
    .div-23-1 {
      flex-wrap: wrap;
    }
  }
  .div-24-1 {
    /* color: #535353;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 700 40px Roboto, sans-serif; */
    color: #535353;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 700 35px Roboto, sans-serif;
  }
  .div-25-1 {
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    display: flex;
    gap: 5px;
    font-size: 18px;
    color: #7b7878;
    font-weight: 400;
    white-space: nowrap;
    flex-grow: 1;
    flex-basis: auto;
    padding: 16px 23px;
  }
  @media (max-width: 991px) {
    .div-25-1 {
      flex-wrap: wrap;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .img-11 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .div-26-1 {
    font-family: Roboto, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-26-1 {
      max-width: 100%;
    }
  }
  .div-27 {
    /* margin-top: 32px; */
    margin-top: 22px;
  }
  @media (max-width: 991px) {
    .div-27 {
      max-width: 100%;
    }
  }
  .div-28 {
    gap: 20px;
    display: flex;


    margin-bottom: 0px;
  }
  @media (max-width: 991px) {
    .div-28 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    /* width: 75%;  */
    width: 60%;
    height: 10%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-29 {
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    flex-grow: 1;
    width: 100%;
    
    /* padding: 23px 36px 51px; */
    padding: 5px 16px 10px  ;
    /* border: 2px solid brown; */
  }
  @media (max-width: 991px) {
    .div-29 {
      max-width: 100%;
      margin-top: 39px;
      padding: 0 20px;
    }
  }
  .div-30 {
    /* gap: 20px; */
    /* gap: 10px; */
    display: flex;
    /* border: 2px solid darkmagenta; */
  }
  @media (max-width: 991px) {
    .div-30 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 67%;
    /* width: 40%; */
    margin-left: 0px;
    /* border: 2px solid darkblue; */
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-31 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    
  }
  @media (max-width: 991px) {
    .div-31 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-32 {
    color: #a7a7a7;
    /* font: 500 24px Roboto, sans-serif; */
    font: 500 18px Roboto, sans-serif;
  }
  @media (max-width: 991px) {
    .div-32 {
      max-width: 100%;
    }
  }
  .div-33 {
    color: #000;
    margin-top: 16px;
    /* font: 500 36px Roboto, sans-serif; */
    font: 500 24px Roboto, sans-serif;
  }
  @media (max-width: 991px) {
    .div-33 {
      max-width: 100%;
    }
  }
  .div-34 {
    display: flex;
    margin-top: 9px;
    align-items: end;
    /* gap: 19px; */
    gap: 15px;
  }
  @media (max-width: 991px) {
    .div-34 {
      flex-wrap: wrap;
      padding-right: 20px;
    }
  }
  .div-35 {
    border-radius: 13px 13px 0px 0px;
    background-color: #26a559;
    margin-top: 140px;
    margin-left: 10px;
    /* width: 19px; */
    width: 16px;
    height: 125px;
  }
  @media (max-width: 991px) {
    .div-35 {
      margin-top: 40px;
    }
  }
  .div-36 {
    display: flex;
    margin-top: 99px;
    gap: 0px;
  }
  @media (max-width: 991px) {
    .div-36 {
      margin-top: 40px;
    }
  }
  .div-37 {
    border-radius: 13px 13px 0px 0px;
    background-color: #ededed;
    align-self: end;
    margin-top: 28px;
    /* width: 20px; */
    width: 15px;
    height: 138px;
  }
  .div-38 {
    border-radius: 13px 13px 0px 0px;
    background-color: #26a559;
    /* width: 19px; */
    width: 16px;
    height: 166px;
  }
  .div-39 {
    display: flex;
    margin-top: 41px;
    gap: 0px;
  }
  @media (max-width: 991px) {
    .div-39 {
      margin-top: 40px;
    }
  }
  .div-40 {
    border-radius: 13px 13px 0px 0px;
    background-color: #ededed;
    align-self: end;
    margin-top: 24px;
    /* width: 20px; */
    width: 15px;
    height: 200px;
  }
  .div-41 {
    border-radius: 13px 13px 0px 0px;
    background-color: #26a559;
    /* width: 19px; */
    width: 16px;
    height: 224px;
  }
  @media (max-width: 991px) {
    .div-41 {
      display: none;
    }
  }
  .div-42 {
    display: flex;
    margin-top: 115px;
    gap: 0px;
  }
  @media (max-width: 991px) {
    .div-42 {
      margin-top: 40px;
    }
  }
  .div-43 {
    border-radius: 13px 13px 0px 0px;
    background-color: #ededed;
    align-self: end;
    margin-top: 32px;
    /* width: 20px; */
    width: 15px;
    height: 118px;
  }
  .div-44 {
    border-radius: 13px 13px 0px 0px;
    background-color: #26a559;
    /* width: 19px; */
    width: 16px;
    height: 150px;
  }
  .div-45 {
    align-self: stretch;
    display: flex;
    gap: 0px;
  }
  .div-46 {
    border-radius: 13px 13px 0px 0px;
    background-color: #ededed;
    align-self: end;
    margin-top: 49px;
    /* width: 20px; */
    width: 15px;
    height: 216px;
  }
  @media (max-width: 991px) {
    .div-46 {
      display: none;
      margin-top: 40px;
    }
  }
  .div-47 {
    border-radius: 13px 13px 0px 0px;
    background-color: #26a559;
    /* width: 19px; */
    width: 16px;
    height: 265px;
  }
  @media (max-width: 991px) {
    .div-47 {
      display: none;
    }
  }
  .div-48 {
    display: flex;
    margin-top: 65px;
    gap: 0px;
  }
  @media (max-width: 991px) {
    .div-48 {
      margin-top: 40px;
    }
  }
  .div-49 {
    border-radius: 13px 13px 0px 0px;
    background-color: #ededed;
    align-self: end;
    margin-top: 44px;
    /* width: 19px; */
    width: 15px;
    height: 154px;
  }
  @media (max-width: 991px) {
    .div-49 {
      margin-top: 40px;
    }
  }
  .div-50 {
    border-radius: 13px 13px 0px 0px;
    background-color: #26a559;
    /* width: 20px; */
    width: 16px;
    height: 198px;
  }
  .div-51 {
    display: flex;
    margin-top: 115px;
    gap: 0px;
  }
  @media (max-width: 991px) {
    .div-51 {
      margin-top: 40px;
    }
  }
  .div-52 {
    border-radius: 13px 13px 0px 0px;
    background-color: #ededed;
    align-self: end;
    margin-top: 31px;
    /* width: 19px; */
    width: 15px;
    height: 119px;
  }
  .div-53 {
    border-radius: 13px 13px 0px 0px;
    background-color: #26a559;
    /* width: 20px; */
    width: 16px;
    height: 150px;
  }
  .div-54 {
    display: flex;
    margin-top: 140px;
    gap: 0px;
  }
  @media (max-width: 991px) {
    .div-54 {
      margin-top: 40px;
    }
  }
  .div-55 {
    border-radius: 13px 13px 0px 0px;
    background-color: #ededed;
    align-self: end;
    margin-top: 25px;
    /* width: 19px; */
    width: 15px;
    height: 100px;
  }
  .div-56 {
    border-radius: 13px 13px 0px 0px;
    background-color: #26a559;
    /* width: 20px; */
    width: 16px;
    height: 125px;
  }
  .div-57-1 {
    display: flex;
    margin-top: 20px;
    /* gap: 20px; */
    gap: 15px;
    font-size: 17px;
    color: #a7a7a7;
    font-weight: 500;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-57 {
      flex-wrap: wrap;
      padding-right: 20px;
      white-space: initial;
    }
  }
  .div-58 {
    font-family: Roboto, sans-serif;
  }
  .div-59 {
    font-family: Roboto, sans-serif;
  }
  .div-60 {
    font: 17px Roboto, sans-serif;
  }
  .div-61 {
    font-family: Roboto, sans-serif;
    margin-left: 2px;
  }
  .div-62 {
    font: 17px Roboto, sans-serif;
    margin-left: 6px;
  }
  .div-63 {
    font-family: Roboto, sans-serif;
  }
  .div-64 {
    font-family: Roboto, sans-serif;
  }
  .div-65 {
    font-family: Roboto, sans-serif;
    margin-left: 6px;
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    /* width: 33%; */
    width: 25%;
    /* margin-left: px; */
    /* border: 2px solid deeppink; */
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-66 {
    display: flex;
    margin-top: 8px;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-66 {
      margin-top: 40px;
    }
  }
  .div-67 {
    border-radius: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff8e5;
    align-self: end;
    display: flex;
    gap: 4px;
    font-size: 10px;
    color: #ffc029;
    font-weight: 500;
    padding: 10px 7px;
  }
  .div-68 {
    font-family: Roboto, sans-serif;
    flex-grow: 1;
  }
  .img-12 {
    aspect-ratio: 1.16;
    object-fit: auto;
    object-position: center;
    width: 7px;
    fill: #ffbf17;
    align-self: start;
  }
  .div-69 {
    display: flex;
    margin-top: 139px;
    align-items: end;
    gap: 15px;
  }
  @media (max-width: 991px) {
    .div-69 {
      margin-top: 40px;
    }
  }
  .div-70 {
    align-self: stretch;
    display: flex;
    gap: 0px;
    flex: 1;
  }
  .div-71 {
    border-radius: 13px 13px 0px 0px;
    background-color: #ededed;
    align-self: end;
    margin-top: 29px;
    width: 15px;
    height: 137px;
  }
  .div-72 {
    border-radius: 13px 13px 0px 0px;
    background-color: #26a559;
    width: 16px;
    height: 166px;
  }
  .div-73 {
    display: flex;
    margin-top: 58px;
    gap: 0px;
    flex: 1;
  }
  @media (max-width: 991px) {
    .div-73 {
      margin-top: 40px;
    }
  }
  .div-74 {
    border-radius: 13px 13px 0px 0px;
    background-color: #ededed;
    align-self: end;
    margin-top: 30px;
    width: 15px;
    height: 78px;
  }
  .div-75 {
    border-radius: 13px 13px 0px 0px;
    background-color: #26a559;
    width: 16px;
    height: 108px;
  }
  .div-76 {
    display: flex;
    margin-top: 88px;
    gap: 0px;
    flex: 1;
  }
  @media (max-width: 991px) {
    .div-76 {
      margin-top: 40px;
    }
  }
  .div-77 {
    border-radius: 13px 13px 0px 0px;
    background-color: #ededed;
    align-self: end;
    margin-top: 25px;
    width: 15px;
    height: 53px;
  }
  .div-78 {
    border-radius: 13px 13px 0px 0px;
    background-color: #26a559;
    width: 16px;
    height: 78px;
  }
  .div-79 {
    display: flex;
    margin-top: 104px;
    gap: 0px;
    flex: 1;
  }
  @media (max-width: 991px) {
    .div-79 {
      margin-top: 40px;
    }
  }
  .div-80 {
    border-radius: 13px 13px 0px 0px;
    background-color: #ededed;
    align-self: end;
    margin-top: 26px;
    width: 15px;
    height: 36px;
  }
  .div-81 {
    border-radius: 13px 13px 0px 0px;
    background-color: #26a559;
    width: 16px;
    height: 62px;
  }
  .div-82 {
    display: flex;
    margin-top: 20px;
    gap: 18px;
    /* gap: 10px; */
    font-size: 17px;
    color: #a7a7a7;
    font-weight: 500;
    white-space: nowrap;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .div-82 {
      padding-right: 20px;
      white-space: initial;
    }
  }
  .div-83 {
    font-family: Roboto, sans-serif;
  }
  .div-84 {
    font-family: Roboto, sans-serif;
    
  }
  .div-85 {
    font-family: Roboto, sans-serif;
  }
  .div-86 {
    font-family: Roboto, sans-serif;
    
  }
  .column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 15%;
    margin-left: 60px;
  }
  @media (max-width: 991px) {
    .column-6 {
      width: 100%;
    }
  }
  .div-87 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-87 {
      margin-top: 40px;
    }
  }
  .div-88 {
    display: flex;
    gap: 12px;
  }
  .div-89 {
    display: flex;
    flex-direction: column;
  }
  .div-90 {
    color: #535353;
    font: 700 30px Roboto, sans-serif;
  }
  .div-91 {
    color: #a7a7a7;
    margin-top: 7px;
    font: 600 14px Roboto, sans-serif;
  }
  .div-92 {
    align-self: start;
    display: flex;
    margin-top: 4px;
    flex-direction: column;
  }
  .div-93 {
    display: flex;
    gap: 1px;
    padding: 0 1px;
  }
  .img-13 {
    aspect-ratio: 2;
    object-fit: auto;
    object-position: center;
    width: 4px;
    stroke-width: 2px;
    stroke: #a7a7a7;
    border-color: rgba(167, 167, 167, 1);
    border-style: solid;
    border-width: 2px;
  }
  .img-14 {
    aspect-ratio: 5.56;
    object-fit: auto;
    object-position: center;
    width: 11px;
    stroke-width: 2px;
    stroke: #a7a7a7;
    border-color: rgba(167, 167, 167, 1);
    border-style: solid;
    border-width: 2px;
  }
  .div-94 {
    display: flex;
    margin-top: 4px;
    gap: 1px;
    padding: 0 1px;
  }
  .img-15 {
    aspect-ratio: 5.56;
    object-fit: auto;
    object-position: center;
    width: 11px;
    stroke-width: 2px;
    stroke: #a7a7a7;
    border-color: rgba(167, 167, 167, 1);
    border-style: solid;
    border-width: 2px;
  }
  .img-16 {
    aspect-ratio: 2;
    object-fit: auto;
    object-position: center;
    width: 4px;
    stroke-width: 2px;
    stroke: #a7a7a7;
    border-color: rgba(167, 167, 167, 1);
    border-style: solid;
    border-width: 2px;
  }
  .div-95 {
    display: flex;
    gap: 1px;
    padding: 0 1px;
  }
  .img-17 {
    aspect-ratio: 2;
    object-fit: auto;
    object-position: center;
    width: 4px;
    stroke-width: 2px;
    stroke: #a7a7a7;
    border-color: rgba(167, 167, 167, 1);
    border-style: solid;
    border-width: 2px;
  }
  .img-18 {
    aspect-ratio: 5.56;
    object-fit: auto;
    object-position: center;
    width: 11px;
    stroke-width: 2px;
    stroke: #a7a7a7;
    border-color: rgba(167, 167, 167, 1);
    border-style: solid;
    border-width: 2px;
  }
  .div-96 {
    display: flex;
    margin-top: 13px;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-96 {
      margin-right: 7px;
    }
  }
  .div-97 {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .div-98 {
    stroke-width: 10px;
    border-color: rgba(226, 226, 226, 1);
    border-style: solid;
    border-width: 8px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-weight: 700;
    white-space: nowrap;
    justify-content: center;
    padding: 1px 0;
  }
  @media (max-width: 991px) {
    .div-98 {
      white-space: initial;
    }
  }
  .div-99 {
    display: flex;
    flex-direction: column;
    stroke-width: 15px;
    overflow: hidden;
    border-color: rgba(38, 165, 89, 1);
    border-style: solid;
    border-width: 10px;
    border-radius: 50%;
    position: relative;
    aspect-ratio: 1.01;
    gap: 3px;
    padding: 39px 29px;
  }
  @media (max-width: 991px) {
    .div-99 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .img-19 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-100 {
    position: relative;
    color: #26a559;
    flex-grow: 1;
    font: 28px Roboto, sans-serif;
  }
  .div-101 {
    position: relative;
    color: #000;
    align-self: start;
    font: 18px Roboto, sans-serif;
  }
  .div-102 {
    color: #a7a7a7;
    margin-top: 10px;
    font: 600 14px Roboto, sans-serif;
  }
  .div-103 {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #a7a7a7;
    font-weight: 600;
    flex: 1;
  }
  .img-20 {
    aspect-ratio: 1.08;
    object-fit: auto;
    object-position: center;
    width: 107px;
    stroke-width: 10px;
    border-color: rgba(226, 226, 226, 1);
    border-style: solid;
    border-width: 10px;
    border-radius: 50%;
    align-self: center;
  }
  .div-104 {
    font-family: Roboto, sans-serif;
    margin-top: 10px;
    margin-left: 20px;
  }
  .img-21 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 99px;
    stroke-width: 10px;
    border-color: rgba(226, 226, 226, 1);
    border-style: solid;
    border-width: 10px;
    border-radius: 50%;
    margin-top: 0px;
    margin-left: 100px;
  }
  .div-105 {
    color: #a7a7a7;
    text-align: center;
    margin: 10px 0 0 13px;
    font: 600 14px Roboto, sans-serif;
  }
  @media (max-width: 991px) {
    .div-105 {
      margin-left: 10px;
    }
  }
  .div-106 {
    align-self: end;
    margin-top: 50px;
    /* margin-top: 30px; */
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-106 {
      max-width: 100%;
    }
  }
  .div-107 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-107 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 72%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-7 {
      width: 100%;
    }
  }
  .div-108 {
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .div-108 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-109 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-109 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 51%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-8 {
      width: 100%;
    }
  }
  .div-110 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-110 {
      margin-top: 25px;
    }
  }
  .div-111 {
    display: flex;
    gap: 12px;
  }
  .div-112 {
    align-self: start;
    display: flex;
    flex-direction: column;
  }
  .div-113 {
    border-radius: 10px;
    background-color: #eee;
    align-self: start;
    display: flex;
    margin-left: 25px;
    align-items: start;
    gap: 7px;
    color: #7b7878;
    padding: 19px 9px;
  }
  @media (max-width: 991px) {
    .div-113 {
      margin-left: 10px;
    }
  }
  .img-22 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 19px;
  }
  .div-114 {
    display: flex;
    flex-direction: column;
  }
  .div-115 {
    font: 600 11px Roboto, sans-serif;
  }
  .div-116 {
    margin-top: 4px;
    font: 500 13px Roboto, sans-serif;
  }
  .div-117 {
    color: #535353;
    margin-top: 22px;
    font: 500 24px Roboto, sans-serif;
  }
  .div-118 {
    display: flex;
    flex-direction: column;
    color: #7b7878;
  }
  .div-119 {
    border-radius: 10px;
    background-color: #eee;
    display: flex;
    align-items: start;
    gap: 6px;
    padding: 18px 10px;
  }
  .img-23 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 19px;
    fill: #5f27cd;
  }
  .div-120 {
    display: flex;
    flex-direction: column;
  }
  .div-121 {
    font: 600 11px Roboto, sans-serif;
  }
  .div-122 {
    margin-top: 5px;
    font: 500 13px Roboto, sans-serif;
  }
  .div-123 {
    align-self: center;
    margin-top: 46px;
    font: 500 15px Roboto, sans-serif;
  }
  @media (max-width: 991px) {
    .div-123 {
      margin-top: 40px;
    }
  }
  .div-124 {
    display: flex;
    margin-top: 25px;
    gap: 20px;
    font-size: 14px;
    font-weight: 500;
  }
  .div-125 {
    display: flex;
    flex-direction: column;
    color: #7b7878;
    flex: 1;
  }
  .div-126 {
    font-family: Roboto, sans-serif;
  }
  .div-127 {
    font-family: Roboto, sans-serif;
    margin-top: 31px;
  }
  .div-128 {
    display: flex;
    flex-direction: column;
    color: #000;
    white-space: nowrap;
    flex: 1;
  }
  @media (max-width: 991px) {
    .div-128 {
      white-space: initial;
    }
  }
  .div-129 {
    font-family: Roboto, sans-serif;
  }
  .div-130 {
    font-family: Roboto, sans-serif;
    margin-top: 29px;
  }
  .column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 28%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-9 {
      width: 100%;
    }
  }
  .div-131 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #7b7878;
  }
  @media (max-width: 991px) {
    .div-131 {
      margin-top: 25px;
    }
  }
  .div-132 {
    border-radius: 10px;
    background-color: #eee;
    align-self: center;
    display: flex;
    align-items: start;
    gap: 7px;
    padding: 18px 5px 18px 13px;
  }
  .img-24 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 19px;
  }
  .div-133 {
    display: flex;
    flex-direction: column;
  }
  .div-134 {
    font: 600 11px Roboto, sans-serif;
  }
  .div-135 {
    margin-top: 5px;
    font: 500 13px Roboto, sans-serif;
  }
  .div-136 {
    display: flex;
    margin-top: 45px;
    gap: 20px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .div-136 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-137 {
    font-family: Roboto, sans-serif;
  }
  .div-138 {
    font-family: Roboto, sans-serif;
  }
  .div-139 {
    display: flex;
    margin-top: 25px;
    gap: 18px;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-139 {
      white-space: initial;
    }
  }
  .div-140 {
    font-family: Roboto, sans-serif;
  }
  .div-141 {
    font-family: Roboto, sans-serif;
  }
  .div-142 {
    display: flex;
    margin-top: 29px;
    gap: 18px;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-142 {
      white-space: initial;
    }
  }
  .div-143 {
    font-family: Roboto, sans-serif;
  }
  .div-144 {
    font-family: Roboto, sans-serif;
  }
  .column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 21%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-10 {
      width: 100%;
    }
  }
  .div-145 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-145 {
      margin-top: 25px;
    }
  }
  .div-146 {
    border-radius: 10px;
    background-color: #eee;
    display: flex;
    gap: 6px;
    padding: 12px 0;
  }
  .div-147 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
  }
  .img-25 {
    aspect-ratio: 10;
    object-fit: auto;
    object-position: center;
    width: 30px;
    fill: #ff6b6b;
  }
  .img-26 {
    aspect-ratio: 2.33;
    object-fit: auto;
    object-position: center;
    width: 30px;
    fill: #ff6b6b;
  }
  .div-148 {
    display: flex;
    flex-direction: column;
    color: #7b7878;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-148 {
      white-space: initial;
    }
  }
  .div-149 {
    font: 600 10px Roboto, sans-serif;
  }
  .div-150 {
    margin-top: 5px;
    font: 500 13px Roboto, sans-serif;
  }
  .div-151 {
    color: #7b7878;
    margin-top: 45px;
    font: 500 16px Roboto, sans-serif;
  }
  @media (max-width: 991px) {
    .div-151 {
      margin-top: 40px;
    }
  }
  .div-152 {
    color: #000;
    margin-top: 25px;
    font: 500 14px Roboto, sans-serif;
  }
  .div-153 {
    color: #000;
    margin-top: 29px;
    font: 500 14px Roboto, sans-serif;
  }
  .column-11 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 28%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-11 {
      width: 100%;
    }
  }
  .div-154 {
    display: flex;
    margin-top: 9px;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-154 {
      margin-top: 40px;
    }
  }
  .div-155 {
    display: flex;
    gap: 20px;
  }
  .div-156 {
    color: #535353;
    flex-grow: 1;
    font: 700 30px Roboto, sans-serif;
  }
  .div-157 {
    align-self: start;
    display: flex;
    flex-direction: column;
  }
  .div-158 {
    display: flex;
    gap: 1px;
  }
  .img-27 {
    aspect-ratio: 2;
    object-fit: auto;
    object-position: center;
    width: 4px;
    stroke-width: 2px;
    stroke: #a7a7a7;
    border-color: rgba(167, 167, 167, 1);
    border-style: solid;
    border-width: 2px;
    align-self: start;
  }
  .div-159 {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .img-28 {
    aspect-ratio: 5.88;
    object-fit: auto;
    object-position: center;
    width: 12px;
    stroke-width: 2px;
    stroke: #a7a7a7;
    border-color: rgba(167, 167, 167, 1);
    border-style: solid;
    border-width: 2px;
    align-self: center;
  }
  .img-29 {
    aspect-ratio: 1.41;
    object-fit: auto;
    object-position: center;
    width: 7px;
    stroke-width: 2px;
    stroke: #a7a7a7;
    border-color: rgba(167, 167, 167, 1);
    border-style: solid;
    border-width: 2px;
  }
  .div-160 {
    display: flex;
    gap: 1px;
    padding: 0 1px;
  }
  .img-30 {
    aspect-ratio: 2;
    object-fit: auto;
    object-position: center;
    width: 4px;
    stroke-width: 2px;
    stroke: #a7a7a7;
    border-color: rgba(167, 167, 167, 1);
    border-style: solid;
    border-width: 2px;
  }
  .img-31 {
    aspect-ratio: 5.56;
    object-fit: auto;
    object-position: center;
    width: 11px;
    stroke-width: 2px;
    stroke: #a7a7a7;
    border-color: rgba(167, 167, 167, 1);
    border-style: solid;
    border-width: 2px;
  }
  .div-161 {
    color: #535353;
    margin-top: 41px;
    font: 600 14px Roboto, sans-serif;
  }
  @media (max-width: 991px) {
    .div-161 {
      margin-top: 40px;
    }
  }
  .div-162 {
    border-radius: 4px;
    background-color: #eee;
    display: flex;
    margin-top: 6px;
    flex-direction: column;
    justify-content: center;
  }
  .div-163 {
    border-radius: 4px;
    background-color: #ffc029;
    height: 6px;
  }
  .div-164 {
    color: #535353;
    align-self: end;
    margin-top: 5px;
    font: 600 14px Roboto, sans-serif;
  }
  .div-165 {
    color: #535353;
    margin-top: 9px;
    font: 600 14px Roboto, sans-serif;
  }
  .div-166 {
    border-radius: 4px;
    background-color: #eee;
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    justify-content: center;
  }
  .div-167 {
    border-radius: 4px;
    background-color: #ff6b6b;
    height: 6px;
  }
  .div-168 {
    color: #535353;
    align-self: end;
    margin-top: 5px;
    font: 600 14px Roboto, sans-serif;
  }
  .div-169 {
    color: #535353;
    margin-top: 8px;
    font: 600 14px Roboto, sans-serif;
  }
  .div-170 {
    border-radius: 4px;
    background-color: #eee;
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    justify-content: center;
  }
  .div-171 {
    border-radius: 4px;
    background-color: #26a559;
    height: 6px;
  }
  .div-172 {
    color: #535353;
    align-self: end;
    margin-top: 5px;
    font: 600 14px Roboto, sans-serif;
  }